<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <mysql>
        <server>localhost</server>
        <username>app</username>
        <password>L2pamWJ9yNmeeVEm</password>
        <database>neptune</database>
    </mysql>
    <redmine>
        <enabled>false</enabled>
        <url>redmine.azimuth360.com</url>
        <apiKey></apiKey>
        <projectId></projectId>
        <projectName></projectName>
    </redmine>
</settings>